<mat-toolbar>
  Practice-App
  <a mat-button routerLink="/googlemap">GoogleMaps</a>
  <!-- <a mat-button routerLink="/charts">Charts</a>
  <a mat-button routerLink="/excel">Excel</a> -->
</mat-toolbar>