<div fxLayout="column" fxLayoutGap="10px">
  <div fxFlex class="mapContainer">
    <agm-map 
      [latitude]="lat" 
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]=false
      [zoomControl]=false
      (mapClick)="mapClicked($event)"
      >
      <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m, i)" 
        [latitude]="m.lat" 
        [longitude]="m.lng"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)"
        >
        <agm-info-window>
          <strong>{{m.name}}</strong>
          <br>
          <a mat-button (click)="removeMarker(m)">Delete</a>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <div fxLayout.gt-md="row" fxLayout.xs="column" fxLayout.md="row" fxLayout.lg="row">
    <mat-card>
      <mat-card-title><h4>Add New Marker</h4></mat-card-title>
      <mat-card-content>
        <form novaidate (submit)="addMarker()">
          
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="markerName" name="markerName" placeholder="Marker Name">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="tel" [(ngModel)]="markerLat" name="markerLat" placeholder="Marker Latitude">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="tel" [(ngModel)]="markerLng" name="markerLng" placeholder="Marker Longitude">
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="markerDraggable" name="markerDraggable" placeholder="Marker Draggable">
              <mat-option value="no">
                No
              </mat-option>
              <mat-option value="yes">
                Yes
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button type="submit">map it</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>