/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.mapContainer {
    padding-top: 10px;
    padding-left: 10px;
}

.Container {
    margin: 20px;
    width:95%;

    display: flex;
}